.titleChart {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  align-items: center;
}
.dropbtn {
  width: 106px;
  height: 42px;
  background: #ffffff;
  border: 1.5px solid #d4d4d7;
  border-radius: 8px;
  color: #7e7d88;
  margin-left: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  right: 0px;
  display: none;
  position: absolute;
  top: 42px;
  background-color: #f9f9f9;
  min-width: 106px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content p {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-content p:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #fff3e9;
}
